/*
  Crafted and Designed By DesignDrastic
  Author: DesignDrastic
  License URL: http://designdrastic.com/license
*/

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;600;700&display=swap');
/* CSS Variables */
:root {
  --bg: #FEB678;
  --ff: 'Halant', serif;
  --cover-poster-height: 320px;
}
body {
  position: relative;
  background-color: var(--bg);
}
.portfolio {
  position: relative;
}
/* List items */
.portfolio-list {
  position: absolute;
  list-style: none;
  padding: 4rem 10%;
  margin: 0;
  z-index: 9;
}
.portfolio-list li {
  position: relative;
  padding-bottom: 4rem;
}
.portfolio-list li a {
  display: inline-block;
  font-family: var(--ff);
  font-weight: 700;
  font-size: 8vh;
  text-decoration: none;
  color: #333;
  z-index: 9;
  transition: all .3s;
}
.portfolio-list li span {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-family: var(--ff);
  font-size: 1.25rem;
  font-weight: 600;
  color: #4c4c4c;
}
.portfolio-list li span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  transition: all .5s;
  height: 100%;
  background-color: var(--bg);
}
.portfolio-list li a:hover + span::after {
  left: 100%;
  width: 0;
}
.portfolio-list li a.active {
  color: #fff;
}
/* Projects */
.portfolio-projects {
  position: fixed;
  right: 0;
  width: 70%;
  height: 70%;
  background: var(--background-clr);
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s;
}
/* Project image */
.portfolio-projects img {
  object-fit: cover;
  height: 500px;
  width: 750px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%) scale(.95);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}
.portfolio-projects img.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-40%, -50%) scale(1);
}

/* Media query */
@media (min-width: 768px) and (max-width: 1400px) {
  .portfolio-list {
    padding: 3rem 5%;
  }
  .portfolio-list li a {
    font-size: 5rem;
  }
  .portfolio-projects img {
    width: 100%;
  }
}
/* For smaller devices */
@media (max-width: 768px) {
  .portfolio-list {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: var(--cover-poster-height);
  }
  .portfolio-list li a {
    font-size: 3rem;
  }
  .portfolio-projects {
    top: 0;
    transform: inherit;
    width: 100%;
    height: var(--cover-poster-height);
    z-index: 9;
  }
  .portfolio-projects img {
    height: var(--cover-poster-height);
    width: 100%;
    top: 0;
    left: 0;
    transform: inherit;
  }
  .portfolio-projects img.active {
    transform: none;
  }
}

